# CIS Debian 7 Hardening
# Main Configuration File, put here global variables

# Valid values are debug info ok warning error
LOGLEVEL=info

# Backup directory, every file modified by hardening will be backuped here, with versionning
# Means that if a file is modified more than once during the process, you will have hardening step diffs in the folder
BACKUPDIR="$CIS_ROOT_DIR/tmp/backups"
