Source: cis-hardening
Section: admin
Priority: extra
Maintainer: Kevin Tanguy <kevin.tanguy@ovh.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://benchmarks.cisecurity.org/downloads/show-single/index.cfm?file=debian7.100
Vcs-Git: https://github.com/ovh/debian-cis.git
Vcs-Browser: https://github.com/ovh/debian-cis/

Package: cis-hardening
Architecture: all
Depends: ${misc:Depends}, patch
Description: Suite of configurable scripts to audit or harden a Debian.
 Modular Debian security hardening scripts based on cisecurity.org
 ⟨cisecurity.org⟩ recommendations. We use it at OVH ⟨https://www.ovh.com⟩ to
 harden our PCI-DSS infrastructure.
