# path to debian CIS pdf file
pdf_file="/home/my_user/Documents/CIS_Debian_Linux_12_Benchmark_v1.0.1.pdf"
# page where index starts : we use the index to get the page where the desired recommendation lies
# we help the script, to keep it kiss
index_start=3
# page where index ends
index_end=10
# we'll extract the index there, and reuse it next time if still present
index_file=/tmp/cis_pdf_index
