---
name: Run functionnal tests
on:
  - pull_request
  - push
jobs:
  functionnal-tests-docker-debian11:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Run the tests debian11
        run: ./tests/docker_build_and_run_tests.sh debian11
  functionnal-tests-docker-debian12:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Run the tests debian12
        run: ./tests/docker_build_and_run_tests.sh debian12
